body, html {
	padding: 0px;
	margin: 0px;
	font-family: 'Source Sans Pro', Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	background-color: white;
	color: black;
	--fosshost-orange: #E16C5C;
	--fosshost-black: #262A36;
	--fosshost-grey: #72798B;
}