body, html {
	padding: 0px;
	margin: 0px;
	font-family: 'Source Sans Pro', Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	background-color: white;
	color: black;
	--fosshost-orange: #E16C5C;
	--fosshost-black: #262A36;
	--fosshost-grey: #72798B;
	--fosshost-light-grey: #b1b1b1;
	--content-max-width: 1280px;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}